<!--CTA Banner Start-->
<section class="cta-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="cta-banner__content">
                    <h3 class="cta-banner__tagline editable">Ready to Make a Difference?</h3>
                    <p class="cta-banner__title editable">Support the nonprofits that make Teton Valley thrive.</p>
                </div>
            </div>
            <div class="col-lg-4 text-lg-end">
                <div class="cta-banner__btn-box">
                    <a href="https://cfjh.iphiview.com/cfjh/Fundholders/AccountInformation/tabid/495/dispatch/accountselection_id$10906_hash$1c0c71b9a8078a604dbdfa2c94b19b5566a479d2/Default.aspx" class="thm-btn cta-banner__btn" target="_blank" rel="noopener noreferrer">Give Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA Banner End-->
