<!--Site Footer Start-->
<footer class="site-footer">
    <div class="site-footer-bg" style="background-image: url(/assets/images/tin-cup/nonprofit-booths.jpg);">
    </div>
    <div class="site-footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__about-logo">
                            <a href="/"><img src="/assets/images/brand/tin-cup-logo-white.png" alt="Tin Cup Challenge"></a>
                        </div>
                        <div class="footer-widget__about-text-box">
                            <p class="footer-widget__about-text editable">The Community Foundation of Teton Valley works to elevate lives through the power of generosity by championing the nonprofit sector and empowering donors.</p>
                        </div>
                        <div class="footer-widget__btn">
                            <a href="/donate-now/"> <span class="fa fa-heart"></span>Support a Nonprofit</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__links clearfix">
                        <h3 class="footer-widget__title editable">Links</h3>
                        <ul class="footer-widget__links-list list-unstyled clearfix">
                            <li><a href="/about/">About</a></li>
                            <li><a href="/event-details/">Event Day</a></li>
                            <li><a href="/nonprofits/">Nonprofits</a></li>
                            <li><a href="/challengers/">Challengers</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            <li><a href="/brand-guide/">Brand Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__non-profit clearfix">
                        <h3 class="footer-widget__title editable">Get Involved</h3>
                        <ul class="footer-widget__non-profit-list list-unstyled clearfix">
                            <li><a href="/register/">Register for Race</a></li>
                            <li><a href="/challengers/">Become a Challenger</a></li>
                            <li><a href="/donate/">Make a Donation</a></li>
                            <li><a href="/volunteer/">Volunteer</a></li>
                            <li><a href="/nonprofit-apply/">Nonprofit Application</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title editable">Contact</h3>
                        <p class="footer-widget__contact-text editable">189 N. Main St., Ste. 112 <br> Driggs, ID 83422
                        </p>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:info@cftetonvalley.org">info@cftetonvalley.org</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:2083540230">208-354-0230</a></p>
                                </div>
                            </li>
                        </ul>
                        <div class="site-footer__social">
                            <a href="#" aria-label="Follow us on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" aria-label="Follow us on Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" aria-label="Follow us on Pinterest"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                            <a href="#" aria-label="Follow us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text editable">&copy; 2026 Community Foundation of Teton Valley
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer End-->
