<header class="main-header">
    <nav class="main-menu">
        <div class="main-menu__wrapper">
            <div class="main-menu__wrapper-inner">
                <div class="main-menu__left">
                    <div class="main-menu__logo">
                        <a href="/"><img src="/assets/images/brand/tin-cup-logo.png" alt="Tin Cup Challenge" style="max-width: 286px;"></a>
                    </div>
                </div>
                <div class="main-menu__right">
                    <div class="main-menu__right-top">
                        <div class="main-menu__right-top-right">
                            <div class="main-menu__top-buttons">
                                <div class="main-menu__volunteers">
                                    <div class="main-menu__volunteers-icon">
                                        <img src="/assets/images/icon/main-menu-heart-icon.png" alt="" role="presentation">
                                    </div>
                                    <div class="main-menu__volunteers-text-box">
                                        <p class="main-menu__volunteers-text editable"><a href="/challengers/">Become
                                                a
                                                <span>Challenger</span></a></p>
                                    </div>
                                </div>
                                <div class="main-menu__search-box">
                                    <a href="#"
                                        class="main-menu__search search-toggler icon-magnifying-glass"
                                        aria-label="Open search"></a>
                                </div>
                                <div class="main-menu__cat-box">
                                    <a href="/cart/" class="main-menu__cart icon-shopping-cart" aria-label="Shopping cart"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu__right-bottom">
                        <div class="main-menu__main-menu-box">
                            <a href="#" class="mobile-nav__toggler" aria-label="Open mobile menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            <ul class="main-menu__list">
                                <li>
                                    <a href="/give-now/">Give Now</a>
                                </li>
                                <li>
                                    <a href="/why-it-works/">Why It Works</a>
                                </li>
                                <li>
                                    <a href="/nonprofits/">Nonprofits</a>
                                </li>
                                <li>
                                    <a href="/challengers/">Challengers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu__main-menu-content-box">
                            <div class="main-menu__search-cat-btn-box">
                                <div class="main-menu__btn-box">
                                    <a href="/give-now/" class="main-menu__btn"> <span class="fa fa-heart"></span> Give</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
