<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler" role="button" aria-label="Close mobile menu"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="/" aria-label="logo image"><img src="/assets/images/brand/tin-cup-logo-white.png" width="143"
                    alt="Tin Cup Challenge" /></a>
        </div>
        <!-- /.logo-box -->

        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <div class="mobile-nav__donate">
            <a href="https://cfjh.iphiview.com/cfjh/Fundholders/AccountInformation/tabid/495/dispatch/accountselection_id$10906_hash$1c0c71b9a8078a604dbdfa2c94b19b5566a479d2/Default.aspx" class="main-menu__btn mobile-donate-button mobile-nav__donate-btn" target="_blank" rel="noopener noreferrer">
                <span class="fa fa-heart"></span> Give
            </a>
        </div>

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:info@cftetonvalley.org">info@cftetonvalley.org</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:2083540230">208-354-0230</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->
